<html>
  <head>
    <title>New Message</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <form method="POST" action="/new">
        <label>Name<input type="text" name="user" id=""></label>
        <label>Message<textarea rows="4" cols="50" name="text"></textarea></label>
        <button>Submit</button>
    </form>
  </body>
</html>